<section class="recView" style="display: none;">
    <a href="##" class="recView__toggle" 
    aria-label="toggle open/close" 
    aria-description="Open/Close Recently Viewed Products List">
    <span class="icon icon--rec-view-viewed">
        <svg><use xlink:href="#icon-rec-view-viewed"></use></svg>
    </span>
    </a>
    <div class="recView__list-container">
        <div class="recView__lds-dual-ring-container">
            <div class="lds-dual-ring"></div>
        </div>
        <ul class="recView__list">
            <li class="recView__list-item recView__list-item--all" style="display: none;">
                <a class="button button--primary" href="##">View All Products</a>
            </li>
        </ul>
    </div>
</section>